---
import SingleColumnLayout from '@/layouts/SingleColumnLayout.astro'
import PageTitle from '@/components/modules/PageTitle/index.astro'
import ArticleContent from '@/components/modules/ArticleContent/index.astro'
import JsonldBreadcrumbList from '@/components/jsonld/JsonldBreadcrumbList.astro'
import { createBreadcrumbList } from '@/core/domains/breadcrumb'
import { getAbout } from '@/core/domains/about'
import { APP_CONFIG } from '@@/config/app'

const { about, contact } = await getAbout()
const aboutContent = about ?? ''
const contectContent = contact ?? ''

const breadcrumbs = createBreadcrumbList([
  {
    text: 'About',
    url: '/about',
  },
])
---

<SingleColumnLayout
  title="About - @kimulaco/blog"
  description={APP_CONFIG.META.DESCRIPTION}
  currentPath="/about"
>
  <JsonldBreadcrumbList breadcrumbs={breadcrumbs} slot="head" />

  <div class="PageAbout">
    <PageTitle>About</PageTitle>
    <ArticleContent content={aboutContent} />

    <h2 id="content"></h2>
    <ArticleContent content={contectContent} />
  </div>
</SingleColumnLayout>
