@use 'variables' as variables;

%layout-inner {
  min-width: variables.$CONTENT_MIN_WIDTH;
  max-width: variables.$CONTENT_MAX_WIDTH;
  padding: 0 10px;
  margin: 0 auto;
  @include media() {
    padding: 0 20px;
  }
}
