---
import MultiColumnLayout from '@/layouts/MultiColumnLayout.astro'
import ArticleItem from '@/components/modules/ArticleItem/index.astro'
import JsonldWebSite from '@/components/jsonld/JsonldWebSite.astro'
import { getAllArticles } from '@/core/domains/article'
import { APP_CONFIG } from '@@/config/app'

const articles = await getAllArticles()
---

<MultiColumnLayout
  title="@kimulaco/blog"
  description={APP_CONFIG.META.DESCRIPTION}
  currentPath="/"
>
  <JsonldWebSite slot="head" />

  <main>
    <h2 class="hidden">記事一覧</h2>
    <div>
      {
        articles.map((article) => {
          return <ArticleItem article={article} />
        })
      }
    </div>
  </main>
</MultiColumnLayout>
