---
import MultiColumnLayout from '../layouts/MultiColumnLayout.astro'
import ArticleLink from '../components/modules/ArticleLink/index.vue'
import { getAllArticles } from '../core/domains/article'

const articles = await getAllArticles()
---

<MultiColumnLayout title="@kimulaco/blog" currentPath="/">
  <main>
    {
      articles.map((article) => {
        return (
          <>
            <ArticleLink article={article} />
          </>
        )
      })
    }
  </main>
</MultiColumnLayout>
