---
import Layout from '../layouts/Layout.astro'
import ArticleLink from '../components/modules/ArticleLink/index.vue'
import { getAllArticles } from '../core/domains/article'

const articles = await getAllArticles()
---

<Layout title="@kimulaco/blog">
  <main>
    <h1>@kimulaco/blog</h1>

    {
      articles.map((article) => {
        return (
          <>
            <ArticleLink article={article} />
          </>
        )
      })
    }
  </main>
</Layout>
